
.number-list {
  display: flex;
  justify-content: center;

  width: 100px;
  min-height: 200px;
  background-color: white;
  //background: linear-gradient(to top, #ababab, #ffffff);
  box-shadow: 0 0 5px 0 #333;
  border-radius: 5px;

  padding-top: 2px;
  padding-bottom: 8px;
  position: relative;

  .wrapper > span {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
    width: 100%;
  }

  .number-list-leave.empty-div {
    opacity: 0;
  }

  .row {
    text-align: right;

    &:first-child {
      font-weight: bold;
      margin-bottom: 4px;

      &.even-number {
        color: red;
      }

      &.odd-number {
        color: blue;
      }

      .border {
        border-bottom: solid 1px #bbb;
        box-shadow: 0 1px 1px 0 #bbb;
        position: absolute;
        width: 100px;
        left: 0;
        margin-top: 2px;
      }
    }

    &.number-list-enter {
      .number {
        opacity: 0.01;
        transform: scale(1.2);
      }

      ~ .row {
        .number {
          transform: translate(0, -1em);
        }
      }

      &.number-list-enter-active {
        .number {
          opacity: 1;
          transform: scale(1);
          transition: opacity 0.15s, transform 0.3s;
        }

        ~ .row {
          .number {
            transform: translate(0, 0);
            transition: transform 0.3s;
          }
        }
      }
    }

    // TODO: Animation has too many glitches. Temporarily disable.

    //&.number-list-leave {
    //  opacity: 1;
    //  position: absolute;
    //  bottom: -8px;
    //
    //  &.number-list-leave-active {
    //    opacity: 0;
    //    transition: opacity 0.3s;
    //  }
    //}

    .number {
      min-width: 40px;
    }
  }

  .even-number {
    color: #CC6633;
  }

  .odd-number {
    color: #3366CC;
  }

  .empty-div {
    color: #666;
    text-align: center;
  }
}

@keyframes add-number-first-row-animation {
  from {
    opacity: 0;
  }
}

@keyframes add-number-animation {
  from {
    transform: translate(0, -1em);
  }
}
